<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">You won't want to leave here</span>
        <span class="site-heading-lower">The Village Coffee</span>
    </h1>
    <div id="search-tag">
        <input class="search">
    </div>
</header>