   
   
    <div class="submit-form">
        <form method="POST" action="/menu/store">
            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="name">
            </div>
            <div class="form-group">
                <label for="type">Item Type</label>
                <input type="text" class="form-control" id="exampleInputItemType" name="type">
            </div>
            <div class="form-group">
                <label for="prices">Prices</label>
                <input type="text" class="form-control" id="exampleInputPrices" name="prices">
            </div>
            <div class="form-group">
                <label for="image">image</label>
                <input type="text" class="form-control" id="exampleInputImage" name="image">
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="details" rows="3"></textarea>
            </div>
            </br>
            

            <br><br>
            <button type="submit" class="btn btn-primary" id="submit-btn">Add Menu</button>
        </form>
    </div>