<div class="shop-owner-login-box">

	<div class="login-box">
		<h2>Login</h2>
		<form>
			<div class="user-box">
				<input type="text" name="" required="">
				<label>Owner Username</label>
			</div>
			<div class="user-box">
				<input type="password" name="" required="">
				<label>Password</label>
			</div>
			<div class="user-box">
				<input type="email" name="" required="">
				<label>Owner Email</label>
			</div>
			<div class="user-box">
				<input type="text" name="" required="">
				<label>Owner ID</label>
			</div>
			<div class="user-box">
				<input type="text" name="" required="">
				<label>Owner Phone Number</label>
			</div>
			<a href="#">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				Login
			</a>
		</form>
	</div>
</div>