
        <div class="signup">
            <h1>Create an account</h1>
            <form method="post" action="#">
                <div class="row">
                    <input type="text" name="fname" placeholder="First name">
                    <input type="text" name="lname" placeholder="Last name">
                </div>
                <input type="text" name="username" placeholder="Username">
                <div class="row">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="re-password" placeholder="Confirm Password">
                </div>
                <input type="email" name="email" placeholder="E-mail address">
                <div class="row">
                    <input type="text" name="phone" placeholder="Phone">
                    
                </div>
                
                <input type="submit" name="signup" value="Sign-up!">
            </form>
        </div>